---
import { getList } from "@/lib/getList";

const { activeItem, pageSize = "8", current = "1" } = Astro.props;
const list = await getList({ glid: activeItem.ID });

const total = list.length;
const startIndex = (current - 1) * pageSize;
const endIndex = Math.min(startIndex + pageSize, total);

const paginatedList = list.slice(startIndex, endIndex);
---

<div></div>
