---
import { footerData } from "@/lib/getFootdata";
const {
  info: {
    copyright = "", //版权信息
  },
} = await footerData();
const fullUrl = Astro.request.url;
---

<footer>
  <div></div>
  <div>
    <div>{copyright}</div>
    <!-- <div>{fullUrl}</div> -->
  </div>
</footer>
