---
import { Icon } from 'astro-icon/components';

import { footerData } from '@/lib/getFootdata';

const { contactShare } = await footerData();

const data = [
  {
    icon: 'tabler:mail',
    name: 'E-Mail',
    href: 'mailto:',
    type: 'email',
  },
  {
    icon: 'tabler:brand-whatsapp',
    name: 'WhatsApp',
    href: 'https://web.whatsapp.com/send?l=en&amp;phone=',
    type: 'Whatsapp',
    image: '/img/whatsapp-code.png',
  },
  {
    icon: 'tabler:brand-wechat',
    name: 'WeChat',
    href: 'weixin://dl/about',
    type: 'weixin',
    image: '/img/wechat-code.png',
  },
];
---

<div
  class="hidden lg:block fixed right-10 top-[50%] translate-y-[-50%] z-9 rounded-lg bg-white text-center px-[10px] shadow-lg z-50"
>
  <div>
    {
      data.map((item, index) => (
        <div class={`group/wmkc py-[18px] ${index ? 'border-t-[1px] border-[#DDD]' : ''}`}>
          <a href={`${item.href}${contactShare[item.type] || ''}`} target="_blank" rel="nofollow">
            <div class="flex flex-col items-center justify-center gap-1">
              <Icon name={item.icon} class:list={['text-[#333] h-8 w-8 group-hover/wmkc:text-primary']} />

              <div class="text-[#333] text-[12px] group-hover/wmkc:text-primary">{item.name}</div>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</div>
