---
import { fetchData } from "@/lib/fetchDataAll";

// export const getStaticPaths = async () => {
//   const res = await getRouter();
//   var arr: any = [];

//   Object.keys(res).forEach((item) => {
//     const next = res[item].map((s) => ({
//       type: item,
//       key: s.replace("/", ""),
//     }));
//     arr = [...arr, ...next];
//   });
//   const nextArr = arr.filter(
//     (s: any) => s.type !== "Home" && !s.type.includes("detail")
//   );
//   return nextArr.map((items) => ({
//     params: { knowledge: items.key },
//   }));
// };

export const getStaticPaths = async () => {
  const {
    result: {
      data: { menu },
    },
  } = await fetchData();
  const result: any = [];
  for (let i = 0; i < menu.length; i++) {
    if (menu[i].type.includes("detail")) {
      result.push({
        params: { knowledge: menu[i].path.replace("/", "") },
      });
    }
  }
};

const { knowledge } = Astro.params;
---

<div>
  {knowledge}
</div>
