@font-face{font-family:"aixdbfont";font-display:swap;src:url(../fonts/iconfont.woff2?t=1697532810121) format('woff2'),url(../fonts/iconfont.woff?t=1697532810121) format('woff'),url(../fonts/iconfont.ttf?t=1697532810121) format('truetype')}
.aixdbfont{font-family:"aixdbfont"!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-aixdb-jiantou:before{content:"\e608"}
.icon-aixdb-opencircle:before{content:"\e63e"}
.icon-aixdb-filleddots:before{content:"\e607"}
.icon-aixdb-hollowsquare:before{content:"\ea98"}
.icon-aixdb-solidsquare:before{content:"\eaa2"}
.icon-aixdb-rhombus:before{content:"\e637"}
.icon-aixdb-smallorigin:before{content:"\ea6c"}
.icon-aixdb-merge:before{content:"\e687"}
.icon-aixdb-zhengfangxing:before{content:"\e60c"}
.icon-aixdb-kik:before{content:"\e633"}
.icon-aixdb-wechat:before{content:"\e605"}
.icon-aixdb-hangouts:before{content:"\e8a8"}
.icon-aixdb-kakaotalk:before{content:"\e606"}
.icon-aixdb-qq:before{content:"\e882"}
.icon-aixdb-line:before{content:"\e6c6"}
.icon-aixdb-viber:before{content:"\e7ca"}
.icon-aixdb-hot:before{content:"\e847"}
.icon-aixdb-twitter:before{content:"\e66a"}
.icon-aixdb-facebook:before{content:"\e638"}
.icon-aixdb-alarm:before{content:"\e604"}
.icon-aixdb-schedule:before{content:"\e6c3"}
.icon-aixdb-rocket:before{content:"\e6a5"}
.icon-aixdb-trophy:before{content:"\e625"}
.icon-aixdb-factory:before{content:"\e6a0"}
.icon-aixdb-recommend:before{content:"\e639"}
.icon-aixdb-skype:before{content:"\e87d"}
.icon-aixdb-instagram:before{content:"\e87f"}
.icon-aixdb-support:before{content:"\e68d"}
.icon-aixdb-lightbulb:before{content:"\e7ee"}
.icon-aixdb-feedback:before{content:"\e626"}
.icon-aixdb-sunny:before{content:"\e660"}
.icon-aixdb-whatsapp:before{content:"\e8ea"}
.icon-aixdb-daterange:before{content:"\e88c"}
.icon-aixdb-lockopen:before{content:"\e8a5"}
.icon-aixdb-mail:before{content:"\e70a"}
.icon-aixdb-warning:before{content:"\e73d"}
.icon-aixdb-roundhowtoregp:before{content:"\e6d7"}
.icon-aixdb-click:before{content:"\e6f7"}
.icon-aixdb-verified:before{content:"\eabc"}
.icon-aixdb-link:before{content:"\e6c4"}
.icon-aixdb-backup:before{content:"\e64b"}
.icon-aixdb-address:before{content:"\e613"}
.icon-aixdb-call:before{content:"\e632"}
.icon-aixdb-linkedin:before{content:"\ee48"}
.icon-aixdb-company:before{content:"\e84f"}
.icon-aixdb-phone:before{content:"\e85c"}
.icon-aixdb-flag:before{content:"\e61a"}
.icon-aixdb-share:before{content:"\e6f3"}
.icon-aixdb-diamond:before{content:"\e67f"}
.icon-aixdb-install:before{content:"\e961"}
.icon-aixdb-dublearrowdown:before{content:"\e6bd"}
.icon-aixdb-recycle:before{content:"\ebbc"}
.icon-aixdb-selectall:before{content:"\e62f"}
.icon-aixdb-sortbyalpha:before{content:"\ed27"}
.icon-aixdb-time:before{content:"\e71a"}
.icon-aixdb-browser:before{content:"\e603"}
.icon-aixdb-browse:before{content:"\e6c0"}
.icon-aixdb-recycle1:before{content:"\e60d"}
.icon-aixdb-clearall:before{content:"\e929"}
.icon-aixdb-voice:before{content:"\eb7d"}
.icon-aixdb-dynamic:before{content:"\e6f4"}
.icon-aixdb-arrowcircleup:before{content:"\e618"}
.icon-aixdb-commandkey:before{content:"\e943"}
.icon-aixdb-indeterminate:before{content:"\e61c"}
.icon-aixdb-magicline:before{content:"\e695"}
.icon-aixdb-configuration:before{content:"\e675"}
.icon-aixdb-newfolder:before{content:"\e778"}
.icon-aixdb-zoomout:before{content:"\e84a"}
.icon-aixdb-navigation:before{content:"\e6ad"}
.icon-aixdb-accessibility:before{content:"\e6ea"}
.icon-aixdb-morehoriz:before{content:"\e7d4"}
.icon-aixdb-openinnew:before{content:"\e7ea"}
.icon-aixdb-home:before{content:"\e600"}
.icon-aixdb-exittoapp:before{content:"\e617"}
.icon-aixdb-arrowupward:before{content:"\ea71"}
.icon-aixdb-autorenew:before{content:"\ea80"}
.icon-aixdb-filterlist:before{content:"\eb67"}
.icon-aixdb-radiobutton:before{content:"\ecc5"}
.icon-aixdb-sort:before{content:"\e76e"}
.icon-aixdb-morevert:before{content:"\e699"}
.icon-aixdb-favorite:before{content:"\e8f9"}
.icon-aixdb-block:before{content:"\e636"}
.icon-aixdb-logout:before{content:"\e66b"}
.icon-aixdb-star:before{content:"\e7df"}
.icon-aixdb-fullscreen:before{content:"\e7ec"}
.icon-aixdb-menu:before{content:"\e7f4"}
.icon-aixdb-key:before{content:"\e775"}
.icon-aixdb-checkcircle:before{content:"\e824"}
.icon-aixdb-download:before{content:"\e83a"}
.icon-aixdb-grade:before{content:"\e89a"}
.icon-aixdb-expand:before{content:"\ec14"}
.icon-aixdb-radio:before{content:"\ec58"}
.icon-aixdb-close:before{content:"\e6e9"}
.icon-aixdb-delete:before{content:"\e6f2"}
.icon-aixdb-arrowforward:before{content:"\e7ce"}
.icon-aixdb-circleright:before{content:"\e615"}
.icon-aixdb-delete1:before{content:"\e69a"}
.icon-aixdb-apps:before{content:"\e627"}
.icon-aixdb-done:before{content:"\e648"}
.icon-aixdb-starhalf:before{content:"\e65c"}
.icon-aixdb-backspace:before{content:"\e624"}
.icon-aixdb-sync:before{content:"\e9a6"}
.icon-aixdb-login:before{content:"\eaae"}
.icon-aixdb-arrowback:before{content:"\ed9d"}
.icon-aixdb-dropdown:before{content:"\e62c"}
.icon-aixdb-cart:before{content:"\e602"}
.icon-aixdb-bolt:before{content:"\e62d"}
.icon-aixdb-search:before{content:"\e653"}
.icon-aixdb-addcircle:before{content:"\e664"}
.icon-aixdb-add:before{content:"\e689"}
.icon-aixdb-checkbox:before{content:"\e601"}
.icon-aixdb-arrow-forward:before{content:"\e953"}
.icon-aixdb-rightdouble:before{content:"\e840"}
.icon-aixdb-zoomin:before{content:"\e849"}
.icon-aixdb-chevron-right:before{content:"\e628"}
.icon-aixdb-undo:before{content:"\e6fb"}