---
import Section from "@/components/Section.astro";

import Banner from "./components/Banner.astro";
import Description from "./components/Description.astro";
import Detail from "./components/Detail.astro";
import FeatureProducts from "./components/FeatureProducts.astro";

import { fetchData } from "@/lib/fetchDataAll";

const { activeItem } = Astro.props;

const {
  result: {
    data: { products },
  },
} = await fetchData();

let {
  glProductIds,
  productDes,
  lTemps,
  showPic,
  name = "",
  glTemps,
  productPics = [{ src: showPic }],
} = products.find((item) => item.ID == activeItem.ID) || {};
productPics.reverse();
if (showPic && typeof showPic === "string") {
  productPics = [...productPics, { url: showPic }, { url: showPic }];
}
const featureProducts = products.filter((item) =>
  JSON.stringify(glProductIds).includes(item.ID)
);
---

<Section>
  <div class:list={["flex lg:flex-row flex-col justify-between"]}>
    <Banner options={{ productPics }} />
    <Description options={{ name, productDes }} />
  </div>
  <Detail lTemps={glTemps} />
  {
    featureProducts.length && (
      <FeatureProducts featureProducts={featureProducts} />
    )
  }
</Section>
