---
import CustomStyles from "@/components/CustomStyles.astro";

import BasicScripts from "@/components/common/BasicScripts.astro";
import HomeSwiper from "@/components/common/HomeSwiperScripts.astro";

import Favicons from "@/components/Favicons.astro";

import "@/assets/styles/tailwind.css";
---

<!doctype html>
<html lang="en">
  <head>
    <CustomStyles />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <Favicons />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="https://unpkg.com/swiper/swiper-bundle.min.js"
      as="script"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      />
    </noscript>
  </head>
  <body>
    <slot />

    <BasicScripts />
    <HomeSwiper />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>
  </body>
</html>
