---
// 脚本区可以定义组件的逻辑
const headerData = Astro.props.headerData;
const isShow = Astro.props.isShow;

function updateShow() {
  // 这里可以定义更新显示的逻辑
  console.log("切换显示状态");
}
---

<div class="language" onclick={updateShow}>
  <div class="language-conf">
    <span class="language-conf_text select-none">English</span>
  </div>
  <LanguageList
    headerData={headerData}
    onUpdateShow={updateShow}
    isShow={isShow}
  />
</div>

<style lang="less">
  .language {
    cursor: pointer;

    &-conf {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;

      &_text {
        text-transform: uppercase;
      }

      &:hover {
        .language-conf_icon,
        .language-conf_text {
          color: #9d8661;
        }
      }
    }
  }
</style>
